[database]
tile_validity = 3650
commit_period = 100

[insert]
request_delay = 0.05
timeout = 3
number_of_attempts = 3
session_max = 1000000

[import/export]
draw_tile_limits = False
draw_tile_width = False

[view]
max_dim = 10000
antialias = False
draw_upper_tiles = False
draw_tile_limits = False
draw_tile_width = False
draw_tracks = False
draw_points = False
draw_circles = False

[tiles]
jpeg_quality = 85
background_color = 32 32 32
missing_tile_color = 128 128 128
border_valid_color = 255 255 255 128
border_expired_color = 255 0 0 192
track_color = 255 0 0 2

[server]
port = 80

